.footer {
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    background-color:  #2173c2;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.footer p {
    color: white;
}